/* Global styles*/
html, body {
  margin: 10px;
  background-color: var(--surface-b); /*Lee las variables de primeng definidas en theme.css*/
  font-family: var(--font-family);
}

.text-layout {
  color: var(--text-color);
}
